.feedbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid  lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 50%);
}
.feedbox:hover{
    border: 1px solid gray;
}
.feedbox_info{
    display: flex;
    align-items: center;

}

.feedbox_info > h5{
    color:rgb(129,129,129);
    font-weight: 300;
    margin-left: 10px;
}
.feedbox_ques{
    display: flex;
    margin-top: 8px;
}
.feedbox_ques > p{
    color:gray;
    font-weight: bold;
    font-size: large;
}